<div class="content-header">
    <div class="row">
        <div class="col-sm-6">
            <div class="header-section">
                <h1>Billing</h1>
            </div>
        </div>
    </div>
</div>

<!-- Plans -->
<section class="site-content site-section">
    <div class="container">
        <div class="site-block">
            <div class="column">

                <div class="row">
                    <div class="block">
                        <div class="block-title">
                            <h2>Current Plan</h2>
                        </div>
                        <table id="general-table" class="table table-borderless table-vcenter">
                            <thead>
                            <tr>
                                <th>Plan</th>
                                <th>Usage</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><h4>Free Plan</h4></td>
                                <td><h4>2 Employees</h4></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="block">
                        <div class="block-title">
                            <h2>Available Plans</h2>
                        </div>
                        <!-- Mini Pricing Tables Content -->
                        <div class="row">
                            <div class="col-sm-4">
                                <table class="table table-pricing table-borderless">
                                    <thead>
                                    <tr>
                                        <th>Free Plan</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h1>$<strong>0</strong><small>/month</small></h1>
                                            <a href="javascript:void(0)" class="btn btn-effect-ripple"><i class="fa fa-arrow-right"></i> Current Plan</a>
                                        </td>
                                    </tr>
                                    <tr class="active">
                                        <td>
                                            <h3>
                                                <small>
                                                    Feature 1<br>
                                                    Feature 2<br>
                                                    Feature 3
                                                </small>
                                            </h3>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-4">
                                <table class="table table-pricing table-borderless">
                                    <thead>
                                    <tr>
                                        <th>Plan A</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h1>$<strong>10</strong><small>/month</small></h1>
                                            <a href="javascript:void(0)" class="btn btn-effect-ripple  btn-success"><i class="fa fa-arrow-right"></i> Select Plan</a>
                                        </td>
                                    </tr>
                                    <tr class="active">
                                        <td>
                                            <h3>
                                                <small>
                                                    Feature 1<br>
                                                    Feature 2<br>
                                                    Feature 3
                                                </small>
                                            </h3>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-4">
                                <table class="table table-pricing table-borderless">
                                    <thead>
                                    <tr>
                                        <th>Plan B</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h1>$<strong>20</strong><small>/month</small></h1>
                                            <a href="javascript:void(0)" class="btn btn-effect-ripple  btn-success"><i class="fa fa-arrow-right"></i> Select Plan</a>
                                        </td>
                                    </tr>
                                    <tr class="active">
                                        <td>
                                            <h3>
                                                <small>
                                                    Feature 1<br>
                                                    Feature 2<br>
                                                    Feature 3
                                                </small>
                                            </h3>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        <!-- END Mini Pricing Tables Content -->
                    </div>
                <!-- END Mini Pricing Tables Block -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END Plans -->