<div class="content-header">
    <div class="row">
        <div class="col-sm-6">
            <div class="header-section">
                <h1>Forms & Themes</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row clearfix">
        <!-- Building Form. -->
        <div class="col-md-6">
            <div class="clearfix">
                <h2>Your Form</h2>
                <hr>
                <div id="build">
                    <form id="target" class="form-horizontal">
                    </form>
                </div>
            </div>
        </div>
        <!-- / Building Form. -->

        <!-- Components -->
        <div class="col-md-6">
            <h2>Drag & Drop components</h2>
            <hr>
            <div class="tabbable">
                <ul class="nav nav-tabs" id="formtabs">
                    <!-- Tab nav -->
                </ul>
                <form class="form-horizontal" id="components">
                    <fieldset>
                        <div class="tab-content">
                            <!-- Tabs of snippets go here -->
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <!-- / Components -->

    </div>
</div>

<script data-main="vendor/form-builder/assets/js/main.js" src="https://rawgithub.com/jrburke/requirejs/master/require.js"></script>