<div class="content-header">
    <div class="row">
        <div class="col-sm-6">
            <div class="header-section">
                <h1>Company</h1>
            </div>
        </div>
    </div>
</div>

<!-- Horizontal Form -->
<section class="site-content site-section">
    <div class="container">
        <div class="site-block">
            <div class="row">
                <div class="col-sm-6">
                    <div class="block">
                        <div class="block-title">
                            <h2>Company Information</h2>
                        </div>
                        <!-- END Horizontal Form Title -->

                        <!-- Horizontal Form Content -->
                        <form action="" method="post" class="form-horizontal form-bordered settings-form" onsubmit="return false;">
                            <div class="form-group">
                                <label for="company-name">Change Company Name</label>
                                <input type="text" id="company-name" name="company-name" class="form-control input-lg" ng-model="business.name" ng-change="businessFieldChanged('name');">
                            </div>
                            <div class="form-group">
                                <label for="company-phone">Change Phone Number </label>
                                <input type="text" id="company-phone" name="company-phone" class="form-control input-lg" ng-model="business.phone" ng-change="businessFieldChanged('phone');">
                            </div>
                            <div class="form-group">
                                <label for="slackHook">Slack Integration</label>
                                <input type="text" id="slackHook" name="slackHook" class="form-control input-lg" placeholder="Webhook URL" ng-model="business.slackHook" ng-change="businessFieldChanged('slackHook');">
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-effect-ripple btn-primary" ng-click="updateBusiness();">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="block">
                        <div class="block-title">
                            <h2>Form Images</h2>
                        </div>
                        <!-- END Horizontal Form Title -->

                        <!-- Horizontal Form Content -->
                        <form action="" method="post" class="form-horizontal form-bordered settings-form" onsubmit="return false;">
                            <div class="form-group">
                                <label for="logoUpload" class="text-left">Logo</label>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <cl-image public-id="tablet_icon" class="tablet-image"></cl-image>
                                    </div>
                                    <div class="col-xs-6">
                                        <div id="logoUpload" class="dropzone">
                                            <div class="dz-default dz-message"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="bgUpload" class="text-left">Visitor Background</label>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <cl-image public-id="tablet_icon" class="tablet-image"></cl-image>

                                    </div>
                                    <div class="col-xs-6">
                                        <div id="bgUpload" class="dropzone">
                                            <div class="dz-default dz-message"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>