<div class="content-header">
    <div class="row">
        <div class="col-sm-6">
            <div class="header-section">
                <h1>Registration</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="block">

            <form id="register-wizard" class="form-horizontal form-border">

                <!-- START STEP 1 -->
                <div id="register-step1" class="step">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <ul class="nav nav-pills nav-justified clickable-steps">
                                <li ng-class="{'active': step == 1}"><a href="javascript:void(0)" data-gotostep="register-step1" ng-click="step = 1;"><i class="fa fa-user"></i><strong> Account</strong></a></li>
                                <li ng-class="{'active': step == 2}"><a href="javascript:void(0)" data-gotostep="register-step2" ng-click="step = 2;"><i class="fa fa-building"></i><strong> Company</strong></a></li>
                                <li ng-class="{'active': step == 3}"><a href="javascript:void(0)" data-gotostep="register-step3" ng-click="step = 3;"><i class="fa fa-keyboard-o"></i><strong> Form</strong></a></li>
                                <li ng-class="{'active': step == 4}"><a href="javascript:void(0)" data-gotostep="register-step4" ng-click="step = 4;"><i class="fa fa-image"></i><strong> Images</strong></a></li>
                                <li ng-class="{'active': step == 5}"><a href="javascript:void(0)" data-gotostep="register-step5" ng-click="step = 5;"><i class="fa fa-briefcase"></i><strong> Employees</strong></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="register-step1-email">Email</label>
                        <div class="col-md-6">
                            <input  ng-class="register.step1.email" type="text" id="register-step1-email" class="form-control" placeholder="johnd@gmail.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="register-step1-fullname">Full Name</label>
                        <div class="col-md-6">
                            <input ng-class="register.step1.fullName" type="text" id="register-step1-fullname" class="form-control" placeholder="John Doe">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="register-step1-password">Password</label>
                        <div class="col-md-6">
                            <input ng-class="register.step1.password" type="password" id="register-step1-password" class="form-control" placeholder="****">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="register-step1-confirm-password">Confirm Password</label>
                        <div class="col-md-6">
                            <input ng-class="register.step1.confirmPassword" type="password" id="register-step1-confirm-password" class="form-control" placeholder="****">
                        </div>
                    </div>

                </div>
                <!-- END STEP 1-->

                <!-- START STEP 2 -->
                <div id="register-step2" class="step">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <ul class="nav nav-pills nav-justified clickable-steps">
                                <li ng-class="{'active': step == 1}"><a href="javascript:void(0)" data-gotostep="register-step1" ng-click="step = 1;"><i class="fa fa-user"></i><strong> Account</strong></a></li>
                                <li ng-class="{'active': step == 2}"><a href="javascript:void(0)" data-gotostep="register-step2" ng-click="step = 2;"><i class="fa fa-building"></i><strong> Company</strong></a></li>
                                <li ng-class="{'active': step == 3}"><a href="javascript:void(0)" data-gotostep="register-step3" ng-click="step = 3;"><i class="fa fa-keyboard-o"></i><strong> Form</strong></a></li>
                                <li ng-class="{'active': step == 4}"><a href="javascript:void(0)" data-gotostep="register-step4" ng-click="step = 4;"><i class="fa fa-image"></i><strong> Images</strong></a></li>
                                <li ng-class="{'active': step == 5}"><a href="javascript:void(0)" data-gotostep="register-step5" ng-click="step = 5;"><i class="fa fa-briefcase"></i><strong> Employees</strong></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="register-step2-company-name">Company Name</label>
                        <div class="col-md-6">
                            <input ng-class="register.step2.companyName" type="text" id="register-step2-company-name" class="form-control" placeholder="Your Company">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="register-step2-company-phone">Company Phone</label>
                        <div class="col-md-6">
                            <input ng-model="register.step2.phone" type="text" id="register-step2-company-phone" class="form-control" placeholder="(123) 456-7890">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="register-step2-type">Type</label>
                        <div class="col-md-6">
                            <select ng-model="register.step2.type" id="register-step2-type" class="select-select2" style="width: 100%;" data-placeholder="Choose a type...">
                                <option></option>
                                <option value="health_care">Health Care</option>
                                <option value="fitness">Fitness</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- END STEP 2 -->

                <!-- START STEP 3 -->
                <div id="register-step3" class="step">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <ul class="nav nav-pills nav-justified clickable-steps">
                                <li ng-class="{'active': step == 1}"><a href="javascript:void(0)" data-gotostep="register-step1" ng-click="step = 1;"><i class="fa fa-user"></i><strong> Account</strong></a></li>
                                <li ng-class="{'active': step == 2}"><a href="javascript:void(0)" data-gotostep="register-step2" ng-click="step = 2;"><i class="fa fa-building"></i><strong> Company</strong></a></li>
                                <li ng-class="{'active': step == 3}"><a href="javascript:void(0)" data-gotostep="register-step3" ng-click="step = 3;"><i class="fa fa-keyboard-o"></i><strong> Form</strong></a></li>
                                <li ng-class="{'active': step == 4}"><a href="javascript:void(0)" data-gotostep="register-step4" ng-click="step = 4;"><i class="fa fa-image"></i><strong> Images</strong></a></li>
                                <li ng-class="{'active': step == 5}"><a href="javascript:void(0)" data-gotostep="register-step5" ng-click="step = 5;"><i class="fa fa-briefcase"></i><strong> Employees</strong></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="register-step3-name">Name</label>
                        <div class="col-md-6">
                            <input ng-class="register.step3.name" type="text" id="register-step3-name" class="form-control" placeholder="John Doe">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="register-step3-phone">Phone</label>
                        <div class="col-md-6">
                            <input ng-class="register.step3.phone" type="text" id="register-step3-phone" class="form-control" placeholder="(123) 456-7890">
                        </div>
                    </div>
                </div>
                <!-- END STEP 3 -->

                <!-- START STEP 4 -->
                <div id="register-step4" class="step">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <ul class="nav nav-pills nav-justified clickable-steps">
                                <li ng-class="{'active': step == 1}"><a href="javascript:void(0)" data-gotostep="register-step1" ng-click="step = 1;"><i class="fa fa-user"></i><strong> Account</strong></a></li>
                                <li ng-class="{'active': step == 2}"><a href="javascript:void(0)" data-gotostep="register-step2" ng-click="step = 2;"><i class="fa fa-building"></i><strong> Company</strong></a></li>
                                <li ng-class="{'active': step == 3}"><a href="javascript:void(0)" data-gotostep="register-step3" ng-click="step = 3;"><i class="fa fa-keyboard-o"></i><strong> Form</strong></a></li>
                                <li ng-class="{'active': step == 4}"><a href="javascript:void(0)" data-gotostep="register-step4" ng-click="step = 4;"><i class="fa fa-image"></i><strong> Images</strong></a></li>
                                <li ng-class="{'active': step == 5}"><a href="javascript:void(0)" data-gotostep="register-step5" ng-click="step = 5;"><i class="fa fa-briefcase"></i><strong> Employees</strong></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Dropzone Upload -->
                    <div class="row reg-upload">
                        <div class="col-md-12">
                            <div id="logoUpload" class="dropzone col-md-3 col-md-offset-2">
                                <div class="dz-default dz-message"></div>
                            </div>
                            <div id="bgUpload" class="dropzone col-md-3 col-md-offset-2">
                                <div class="dz-default dz-message"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Example transformation
                    <cl-image public-id="officialchucknorrispage" type="facebook" angle="20">
                        <cl-transformation format="png" height="95" width="95" crop="thumb" gravity="face" effect="sepia" radius="20"/>
                    </cl-image>-->
                </div>
                <!-- END STEP 4 -->

                <!-- START STEP 5 -->
                <div id="register-step5" class="step">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <ul class="nav nav-pills nav-justified clickable-steps">
                                <li ng-class="{'active': step == 1}"><a href="javascript:void(0)" data-gotostep="register-step1" ng-click="step = 1;"><i class="fa fa-user"></i><strong> Account</strong></a></li>
                                <li ng-class="{'active': step == 2}"><a href="javascript:void(0)" data-gotostep="register-step2" ng-click="step = 2;"><i class="fa fa-building"></i><strong> Company</strong></a></li>
                                <li ng-class="{'active': step == 3}"><a href="javascript:void(0)" data-gotostep="register-step3" ng-click="step = 3;"><i class="fa fa-keyboard-o"></i><strong> Form</strong></a></li>
                                <li ng-class="{'active': step == 4}"><a href="javascript:void(0)" data-gotostep="register-step4" ng-click="step = 4;"><i class="fa fa-image"></i><strong> Images</strong></a></li>
                                <li ng-class="{'active': step == 5}"><a href="javascript:void(0)" data-gotostep="register-step5" ng-click="step = 5;"><i class="fa fa-briefcase"></i><strong> Employees</strong></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="register-step5-name">Name</label>
                        <div class="col-md-6">
                            <input ng-class="register.step5.name" type="text" id="register-step5-name" class="form-control" placeholder="John Doe">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="register-step5-email">Email</label>
                        <div class="col-md-6">
                            <input ng-class="register.step5.email" type="text" id="register-step5-email" class="form-control" placeholder="johnd@gmail.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="register-step5-phone">Phone</label>
                        <div class="col-md-6">
                            <input ng-class="register.step5.phone" type="text" id="register-step5-phone" class="form-control" placeholder="(123) 456-7890">
                        </div>
                    </div>
                </div>
                <!-- END STEP 3 -->

                <!-- BUTTONS -->
                <div class="form-group form-actions">
                    <div class="col-md-8 col-md-offset-4">
                        <button type="reset" class="btn btn-effect-ripple btn-danger" id="back" ng-click="backStep()">Back</button>
                        <button type="submit" class="btn btn-effect-ripple btn-primary" id="next" ng-click="nextStep()">Next</button>
                    </div>
                </div>
                <!-- END BUTTONS -->

            </form>
            <!-- END FORM -->

        </div>
    </div>
</div>

<!-- Used as a Theme Template for DropZone -->
<div id="preview-template" style="display: none;">
    <div class="dz-preview dz-image-preview">
        <div class="dz-image">
            <img data-dz-thumbnail />
        </div>
        <button data-dz-remove class="btn btn-xs btn-danger rmv-upload" >
            <i class="fa fa-times"></i>
        </button>
        <div class="dz-progress">
            <span class="dz-upload" data-dz-uploadprogress="" style="width: 100%;"></span>
        </div>
    </div>
</div>
