.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


// Dropzone Register
#register-step4
.dropzone {
  min-height: 152px;
  max-height: 152px;
  text-align: center;
  border-radius: 10px;
  padding: 0.9em;
}
.dropzone .dz-preview {
  margin: 0;
  min-height: 120px;
  max-height: 120px;
}
.dropzone .dz-preview .dz-image {
  border-radius: 8px;
}

.reg-upload{
  margin: 20px 0;
}

.rmv-upload{
  position: absolute;
  right: 0;
  top: -1px;
  z-index: 100;
}