.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.avatar {
  width: 100px;
  height: 100px;
}

.tablet-image {
  width: 133px;
  height: 100px;
}

.upload-button {
  margin-left: 10px
}

.save-form-button {
  margin-bottom: 30px;
}

.display-none {
  display: none;
}