.navbar-logo {
    width: 50px;
    height: 50px;
    margin-right: 40px;
} 

.navbar-left-link {
    margin-left: 20px;
}

.navbar-divider {
    border-right: 0.1px solid #eee;
    height: 45px;
    margin-left: 100px;
}

.navbar-ipad {
    font-size: 60px;
    margin-right: 25px;
    cursor: pointer;
}

.material-icons.md-48 {
    font-size: 48px;
}

.avatar {
    width: 100px;
    height: 100px;
    margin-right: 8px;
}

.avatar-container {
    margin-top: 30px;
}

.settings-caption {
    font-size: 14px;
    margin-bottom: 18px;
    text-align: center;
}

.settings-left {
    margin-left: 8px;
}

.user-fieldset {
    margin-bottom: 50px;
}

.settings-button {
    margin-top: 0px;
}

.settings-toolbar {
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px rgba(255, 255, 255, 0.1);
}

.settings-container {
    border: 0.01px solid #eee;
}

.settings-user-container {
    margin-bottom: 30px;
}

.settings-check-icon {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 10px;
    height: 25px;
    width: 25px;
    color: #36bae2;
}

.pricing-button {
    margin-top: 25px;
}

.pricing-table {
    margin-top: 21px;
}

.hidden {
    visibility: hidden;
}
