.face{
	width:48px;
	margin:16px;
}
.title{
	position:fixed;
	padding-top: 0px;
}
.time{
	text-align: right;
	float: right;
	text-indent: 650px;
	padding-top: 25px;
	font-size: 30px;
}
.btn1 {
  position:static;
	background-color: #e5e5e5;
	float:right;
	font-size: 13px;
}
#search-text-input{
    border-radius: 10em;
		border-top:thin solid  #e5e5e5;
    border-right:thin solid #e5e5e5;
    border-bottom:0;
    border-left:thin solid  #e5e5e5;
    box-shadow:0px 0px 0px 1px #e5e5e5;
		width: 200px;
    padding: 0px;
    margin: 0px;
    height: 20px;
		font-size: 13px;
		text-indent: 5px;
		background-image: url("/images/searchicon.png");
		background-repeat: no-repeat;
		background-position: left;
}

.listdemoBasicUsage md-divider {
  margin-top: 10px;
  margin-bottom: 10px; }

#dash-content {
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid black;
}

#dash-checkbox {
  left: 18px;
}

.navbar-logo {
    width: 50px;
    height: 50px;
    margin-right: 40px;
} 

.navbar-left-link {
    margin-left: 20px;
}

.navbar-divider {
    border-right: 0.1px solid #eee;
    height: 45px;
    margin-left: 100px;
}

.navbar-ipad {
    font-size: 60px;
    margin-right: 25px;
    cursor: pointer;
}

.material-icons.md-48 {
    font-size: 48px;
}

.avatar {
    width: 100px;
    height: 100px;
    margin-right: 8px;
}

.avatar-container {
  margin-top: 30px;
}

.settings-caption {
    font-size: 14px;
    margin-bottom: 18px;
    text-align: center;
}

.settings-container {
    margin-left: 8px;
}

.user-fieldset {
    margin-bottom: 50px;
}

.settings-button {
    margin-top: 0;
}

.settings-toolbar {
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px rgba(255, 255, 255, 0.1);
}

.settings-container {
  border: 0.01px solid #eee;
}

.settings-user-container {
  margin-bottom: 30px;
}

.settings-check-icon {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 10px;
  height: 25px;
  width: 25px;
  color: #36bae2;
}

.pricing-button {
  margin-top: 25px;
}

.pricing-table {
  margin-top: 21px;
}

.hidden {
  visibility: hidden;
}
