.face{
	width:48px;
	margin:16px;
}
.title{
	position:fixed;
	padding-top: 0px;
}
.time{
	text-align: right;
	float: right;
	text-indent: 650px;
	padding-top: 25px;
	font-size: 30px;
}
.btn1 {
  position:static;
	background-color: #e5e5e5;
	float:right;
	font-size: 13px;
}
#search-text-input{
    border-radius: 10em;
		border-top:thin solid  #e5e5e5;
    border-right:thin solid #e5e5e5;
    border-bottom:0;
    border-left:thin solid  #e5e5e5;
    box-shadow:0px 0px 0px 1px #e5e5e5;
		width: 200px;
    padding: 0px;
    margin: 0px;
    height: 20px;
		font-size: 13px;
		text-indent: 5px;
		background-image: url("/images/searchicon.png");
		background-repeat: no-repeat;
		background-position: left;
}

.listdemoBasicUsage md-divider {
  margin-top: 10px;
  margin-bottom: 10px; }

#dash-content {
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid black;
}

#dash-checkbox {
  left: 18px;
}

.navbar-logo {
    width: 50px;
    height: 50px;
    margin-right: 40px;
} 

.navbar-left-link {
    margin-left: 20px;
}

.navbar-divider {
    border-right: 0.1px solid #eee;
    height: 45px;
    margin-left: 100px;
}

.navbar-ipad {
    font-size: 60px;
    margin-right: 25px;
    cursor: pointer;
}

.material-icons.md-48 {
    font-size: 48px;
}

.avatar {
    width: 100px;
    height: 100px;
    margin-right: 8px;
}

.settings-caption {
    font-size: 14px;
    margin-bottom: 18px;
    text-align: center;
}

.settings-container {
    margin-left: 8px;
}

.user-fieldset {
    margin-bottom: 50px;
}

.settings-button {
    margin-top: 0px;
}

.pricing-table {
    color: #000;
    font-size: 16px;
    width: 100%;
    border-spacing: 0;
    position: relative;
    -webkit-transition: box-shadow .2s ease-in 0s;
    transition: box-shadow .2s ease-in 0s;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12),0 1px 2px 0 rgba(0,0,0,0.24);
    margin-top: 21.28px;
}

.pricing-table-premium {
    background-color: #eee;
}

.pricing-table-row {
    border-bottom: 1px solid #d6d6d6;
    -webkit-transition: background-color .2s ease-in 0s;
    transition: background-color .2s ease-in 0s;
}

.pricing-table-feature {
    line-height: 28px;
    border-top: 1px solid #d6d6d6;
    padding: 20px 15px;
    text-align: left;
}

.pricing-table-feature-check {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 10px;
    height: 25px;
    width: 25px;
    color: #36bae2;
}

.pricing-table-button {
    text-align: center;
}
