<!-- Full Background -->
<!-- For best results use an image with a resolution of 1280x1280 pixels (prefer a blurred image for smaller file size) -->
<img src="/assets/vendor/img/placeholders/layout/login2_full_bg.jpg" alt="Full Background" class="full-bg animation-pulseSlow">
<!-- END Full Background -->

<!-- Login Container -->
<div id="login-container">
    <!-- Login Header -->
    <h1 class="h2 text-light text-center push-top-bottom animation-pullDown">
        <strong>iReceptionist <i class="fa fa-heart text-light"></i>s You!</strong>
    </h1>
    <!-- END Login Header -->

    <!-- Login Block -->
    <div class="block animation-fadeInQuick">
        <!-- Login Title -->
        <div class="block-title">
            <div class="block-options pull-right">
                <button ui-sref="reset-password" class="btn btn-effect-ripple btn-primary" tooltip-placement="left" uib-tooltip="Reset your password"><i class="fa fa-question"></i></button>
                <button ui-sref="register" class="btn btn-effect-ripple btn-primary" tooltip-placement="left" uib-tooltip="Create a new account"><i class="fa fa-plus"></i></button>
            </div>
            <h2>Login</h2>
        </div>
        <!-- END Login Title -->

        <!-- Login Form -->
        <form id="form-login" class="form-horizontal" action="javascript:void(0);">
            <div class="form-group">
                <label for="login-email" class="col-xs-12">Email</label>
                <div class="col-xs-12">
                    <input ng-model="email" type="text" id="login-email" name="login-email" class="form-control" placeholder="Your email">
                </div>
            </div>
            <div class="form-group">
                <label for="login-password" class="col-xs-12">Password</label>
                <div class="col-xs-12">
                    <input ng-model="password" type="password" id="login-password" name="login-password" class="form-control" placeholder="Your password">
                </div>
            </div>
            <div class="form-group form-actions">
                <div class="col-xs-8">
                    <label class="csscheckbox csscheckbox-primary">
                        <input ng-model="rememberMe" type="checkbox" id="login-remember-me" name="login-remember-me"><span></span> Remember Me!
                    </label>
                </div>
                <div class="col-xs-4 text-right">
                    <button type="submit" class="btn btn-effect-ripple btn-sm btn-success" ng-click="doLogin()">Log In</button>
                </div>
            </div>
        </form>
        <!-- END Login Form -->
    </div>
    <!-- END Login Block -->

</div>
<!-- END Login Container -->
