<!--
<h2>Dashboard</h2>

<md-icon class="ng-scope ng-isolate-scope material-icons">search</md-icon>
<input type='text' class="round" placeholder='Search by Name' id='search-text-input'/>
-->

<div layout="row">
    <span hide-sm flex="10"></span>
    <md-card style="padding:0px;" flex-gt-md="80" flex="100">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h4>
                    <span>Visitors</span>
                </h4>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="More" ng-click="showVisitorsMore=!showVisitorsMore">
                    <md-icon>more_vert</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content md-theme="docs-dark" style="padding: 0;" ng-show="showVisitorsMore">
            <md-input-container>
                <label>Search</label>
                <input ng-model="searchString">
            </md-input-container>
        </md-content>
    	<md-card-content style="padding: 0px;">
    		<md-list style="padding: 0px;">
    			<md-list-item class="md-2-line" style="padding: 0px;" ng-repeat="item in visitors">
                    <md-checkbox id="dash-checkbox" md-no-ink="" class="md-primary">
                    </md-checkbox>
    				<div class="md-list-item-text">
    					<h3>{{item.visitor}}</h3>
    					<p>{{item.number}}</p>
    				</div>
    				<img ng-src="images/person.png" class="face" />
    				<div class="md-list-item-text">
    					<h3>Dr. Dre</h3>
    					<p>{{item.notes}}</p>
    				</div>
                    <span flex></span>
    				<md-button class="md-secondary md-icon-button" aria-label="options">
    					<md-icon>more_vert</md-icon>
    				</md-button>
    				<md-divider></md-divider>
    			</md-list-item>
    		</md-list>
    	</md-card-content>
    </md-card>
    <span hide-sm flex="10"></span>
</div>
