

<!--
<div layout ="row" class="title"><md-icon>group</md-icon>
	<h2> Employees </h2>
	<div class="time"> 12:20 PM </h2></div>
</div>

<br><br><br>
<md-icon>search</md-icon>
<input type='text' class="round" placeholder='Search by Name' id='search-text-input'/>
<md-button class="btn1">
	<md-icon>add</md-icon>Add Employee</md-button>
-->

<div layout="row">
    <span hide-sm flex="10"></span>
    <md-card style="padding:0px;" flex-gt-md="80" flex="100">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h4>
                    <span>Employees</span>
                </h4>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="More" ng-click="showEmployeesMore=!showEmployeesMore">
                    <md-icon>more_vert</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content md-theme="docs-dark" style="padding: 0;" ng-show="showEmployeesMore">
            <md-input-container>
                <label>Search</label>
                <input ng-model="searchString">
            </md-input-container>
        </md-content>
    	<md-card-content style="padding: 0px;">
    		<md-list style="padding: 0px;">
    			<md-list-item class="md-2-line" style="padding: 0px;" ng-repeat="item in employees">
    				<img ng-src="images/person.png" class="face" />
    				<div class="md-list-item-text">
    					<h3>{{item.name}}</h3>
    					<p>{{item.number}}</p>
    				</div>
                    <span flex></span>
    				<md-button class="md-secondary md-icon-button" aria-label="options">
    					<md-icon>more_vert</md-icon>
    				</md-button>
    				<md-divider></md-divider>
    			</md-list-item>
    		</md-list>
    	</md-card-content>
    </md-card>
    <span hide-sm flex="10"></span>
</div>
