

<div layout ="row" class="title"><md-icon>group</md-icon>
	<h2> Employees </h2>
	<div class="time"> 12:20 PM </h2></div>
</div>

<br><br><br>
<md-icon>search</md-icon>
<input type='text' class="round" placeholder='Search by Name' id='search-text-input'/>
<md-button class="btn1">
	<md-icon>add</md-icon>Add Employee</md-button>

<md-card style="padding:0px;">
	<md-card-content style="padding: 0px;">
		<md-list style="padding: 0px;">
			<md-list-item class="md-2-line" style="padding: 0px;">
				<img ng-src="images/person.png" class="face" />
				<div class="md-list-item-text">
					<h3> Peter Yao </h3>
					<p> (123) 456-7890) | pyao@email.com </p>
				</div>
				<md-button class="md-secondary md-icon-button" aria-label="options">
					<md-icon>more_vert</md-icon>
				</md-button>
				<md-divider></md-divider>
			</md-list-item>
			<md-list-item class="md-2-line" style="padding:0px;">
				<img ng-src="images/person.png" class="face" />
				<div class="md-list-item-text">
					<h3> Martin Gao </h3>
					<p> (234) 567-8901 | mgao@email.com </p>
				</div>
				<md-button class="md-secondary md-icon-button" aria-label="options">
					<md-icon>more_vert</md-icon>
				</md-button>
			</md-list-item>
		</md-list>
	</md-card-content>
</md-card>
