<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Account">
                <md-content class="md-padding">
                    <div class="md-padding" ng-cloak>
                        <div layout-lg="row" layout="column">
                            <div flex="45" class="settings-user-container">
                                <md-toolbar class="settings-toolbar">
                                    <div class="md-toolbar-tools">
                                        User
                                    </div>
                                </md-toolbar>
                                <div class="settings-container" flex>
                                    <div layout="row">
                                        <div layout="column" flex="50">
                                            <div class="settings-left">
                                                <md-input-container>
                                                    <label>Change email address</label>
                                                    <input>
                                                </md-input-container>
                                            </div>
                                            <div class="settings-left">
                                                <md-input-container>
                                                    <label>Change phone number</label>
                                                    <input>
                                                </md-input-container>
                                            </div>
                                            <div class="settings-left">
                                                <md-input-container>
                                                    <label>Change password</label>
                                                    <input>
                                                </md-input-container>
                                            </div>
                                            <div class="settings-left">
                                                <md-input-container>
                                                    <label>Confirm password</label>
                                                    <input>
                                                </md-input-container>
                                            </div>
                                        </div>

                                        <div layout="column" flex="50">
                                            <div class="settings-left avatar-container" flex="50">
                                                <div layout="row">
                                                    <div layout="column">
                                                        <div>
                                                            <img src="images/avatar.png" class="avatar" alt="" />
                                                        </div>
                                                        <div class="settings-caption">
                                                            (100 x 100)
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <md-button class="md-raised settings-button">Upload Image</md-button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div flex="50">
                                                <md-switch  aria-label="Enable Email Notifications">
                                                    Enable Email Notifications
                                                </md-switch>
                                                <md-switch  aria-label="Enable SMS Notifications">
                                                    Enable SMS Notifications
                                                </md-switch>
                                            </div>
                                        </div>
                                    </div>
                                    <div layout="row" layout-align="center center" layout-margin>
                                        <div>
                                            <md-button class="md-raised md-primary">Save Changes</md-button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div flex></div>

                            <div flex="45">
                                <md-toolbar class="settings-toolbar">
                                    <div class="md-toolbar-tools">
                                        Company
                                    </div>
                                </md-toolbar>
                                <div class="settings-container" flex>
                                    <div layout="row">
                                        <div layout="column" flex="50">
                                            <div class="settings-left">
                                                <md-input-container>
                                                    <label>Change company name</label>
                                                    <input>
                                                </md-input-container>
                                            </div>
                                            <div class="settings-left">
                                                <md-input-container>
                                                    <label>Change email address</label>
                                                    <input>
                                                </md-input-container>
                                            </div>
                                            <div class="settings-left">
                                                <md-input-container>
                                                    <label>Change phone number</label>
                                                    <input>
                                                </md-input-container>
                                            </div>
                                            <!-- This is here to make the boxes the same size -->
                                            <div class="settings-left hidden">
                                                <md-input-container>
                                                    <label></label>
                                                    <input>
                                                </md-input-container>
                                            </div>
                                        </div>

                                        <div layout="column" flex="50">
                                            <div>
                                                <h3>Tablet</h3>
                                            </div>
                                            <div>
                                                <div layout="row">
                                                    <div>
                                                        <div>
                                                            <img src="images/thumbnail.png" class="avatar" alt="" />
                                                        </div>
                                                        <div class="settings-caption">
                                                            (100 x 100)
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <md-button class="md-raised settings-button">Upload Icon</md-button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div layout="row">
                                                    <div>
                                                        <img src="images/thumbnail.png" class="avatar" alt="" />
                                                    </div>
                                                    <div>
                                                        <md-button class="md-raised settings-button">Upload Background</md-button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div layout="row" layout-align="center center" layout-margin>
                                        <div>
                                            <md-button class="md-raised md-primary">Save Changes</md-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>

            <!-- FORM and THEMES Tab Implementation-->

            <md-tab label="Form & Themes">
                <md-content class="md-padding">
                    <!--<h1 class="md-display-2">Form & Themes</h1>-->
                    <div class="md-padding" ng-cloak>
                        <div>
                            <!--<fieldset class="standard user-fieldset">-->
                            <div layout-lg="row" layout="column">
                             <div flex="45" class="settings-user-container">
                                 <md-toolbar class="settings-toolbar">
                                     <div class="md-toolbar-tools">
                                         Tablet Form
                                     </div>
                                 </md-toolbar>
                                <!--<legend>Tablet Form</legend>-->
                                <div layout="row">
                                    <div layout="column" flex="50"> 

                                        <div layout="row" class="">

                                                <p> <i class="material-icons">face</i> &nbsp;&nbsp; </p>
                                                <md-input-container alt="" style="float:left">
                                                    <label>First Name</label>                                                
                                                    <input>
                                                </md-input-container>
                                                <md-switch>
                                                Required Field
                                                </md-switch> 
                                                                                         
                                        </div>

                                        <div layout="row" class="">
                                                <p><i class="material-icons">perm_identity</i> &nbsp;&nbsp; </p>
                                                <md-input-container alt="" style="float:left">
                                                    <label>Last Name</label>
                                                    <input>
                                                </md-input-container>
                                                <md-switch>
                                                Required Field
                                                </md-switch>  
                                        </div>

                                        <div layout="row" class="">
                                                <p><i class="material-icons">call</i> &nbsp;&nbsp; </p>
                                                <md-input-container alt="" style="float:left">
                                                    <label>Phone Number</label>
                                                    <input>
                                                </md-input-container>
                                                <md-switch>
                                                Required Field
                                                </md-switch>                                               
                                        </div>
                                        
                                        <!--<div class="inset" ng-controller="SwitchDemoCtrl" ng-cloak>
                                              <md-switch style> ng-model="data.cb1" aria-label="Switch 1">
                                                Required {{ data.cb1 }}
                                              </md-switch>
                                        </div>-->                             
                                        <div class="">
                                            <md-button class="md-raised settings-button">Add Fields</md-button>
                                            <md-button class="md-raised md-primary">Save Fields</md-button>
                                        </div>
                                        <!--<div class="settings-container">
                                            <md-button class="md-raised md-primary">Save Fields</md-button>
                                        </div>-->
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            <!--</fieldset>-->

                            <!-- THEMES Implementation-->

                            <!--<fieldset class="standard user-fieldset">
                                <legend>Themes</legend>-->
                            <div layout-lg="row" layout="column">
                             <div flex="45" class="settings-user-container">
                                 <md-toolbar class="settings-toolbar">
                                     <div class="md-toolbar-tools">
                                         Themes
                                     </div>
                                 </md-toolbar>
                                    <div layout="row">
                                        <div layout="column" flex="50">
                                            <br>
                                            <div>
                                                <img src="images/thumbnail.png" class="avatar" alt="" style="float:left"/>
                                                <md-button class="md-raised settings-button">UPLOAD IMAGE</md-button>
                                                <div layout="row">
                                                <div class="settings-caption">
                                                     &nbsp;&nbsp;(50 x 50)
                                                </div>
                                                </div>
                                                <!--<p>(50x50)</p>-->
                                                
                                            </div>

                                            <md-radio-group ng-model="">
                                                <md-radio-button>Custom Theme</md-radio-button>
                                            </md-radio-group>

                                        </div>

                                        <div layout="column" flex="50">
                                            <br>
                                            <div>
                                                <img src="images/thumbnail.png" class="avatar" alt="" />
                                            </div>
                                             <md-radio-group ng-model="">
                                                <md-radio-button>Black</md-radio-button>
                                            </md-radio-group>
                                        </div>

                                        <div layout="column" flex="50">
                                            <br>
                                            <div>
                                                <img src="images/thumbnail.png" class="avatar" alt="" />
                                            </div>
                                             <md-radio-group ng-model="">
                                                <md-radio-button>White</md-radio-button>
                                            </md-radio-group>
                                        </div>

                                        <div layout="column" flex="50">
                                            <br>
                                            <div>
                                                <img src="images/thumbnail.png" class="avatar" alt="" />
                                            </div>
                                             <md-radio-group ng-model="">
                                                <md-radio-button>Pattern</md-radio-button>
                                            </md-radio-group>
                                        </div>    
                                    </div>
 
                                    <div layout="row" flex="10" class="">
                                            <md-button class="md-raised md-primary">Apply Theme</md-button>
                                    </div>
                            <!--</fieldset>-->
                        </div>
                    </div>
                </md-content>
            </md-tab>


            <md-tab label="Billing">
                <md-content class="md-padding">
                    <div layout-lg="row" layout="column">
                        <div flex="66" class="pricing-table">
                            <div layout="row">
                                <div flex="10"></div>
                                <div flex="40">
                                    <md-toolbar class="settings-toolbar">
                                        <h2 class="md-toolbar-tools">
                                            <span>Free</span>
                                        </h2>
                                    </md-toolbar>
                                    <md-content>
                                        <md-list class="settings-container">
                                            <md-list-item class="md-3-line" >
                                                <div class="md-list-item-text">
                                                    <i class="material-icons settings-check-icon">done</i>
                                                    Feature 1
                                                </div>
                                                <md-divider></md-divider>
                                            </md-list-item>
                                            <md-list-item class="md-3-line" >
                                                <div class="md-list-item-text">
                                                    <i class="material-icons settings-check-icon">done</i>
                                                    Feature 2
                                                </div>
                                                <md-divider></md-divider>
                                            </md-list-item>
                                            <md-list-item class="md-3-line" >
                                                <div class="md-list-item-text">
                                                    <i class="material-icons settings-check-icon">done</i>
                                                    Feature 3
                                                </div>
                                                <md-divider></md-divider>
                                            </md-list-item>
                                            <md-list-item class="md-3-line" >
                                                <div class="md-list-item-text">
                                                    <i class="material-icons settings-check-icon">done</i>
                                                    Feature 4
                                                </div>
                                                <md-divider></md-divider>
                                            </md-list-item>
                                            <md-list-item class="md-3-line" >
                                                <md-button ng-disabled="true" class="pricing-button">Current Plan</md-button>
                                            </md-list-item>
                                        </md-list>
                                    </md-content>
                                </div>

                                <div flex="40">
                                    <md-toolbar>
                                        <h2 class="md-toolbar-tools">
                                            <span>Premium</span>
                                        </h2>
                                    </md-toolbar>
                                    <md-content>
                                        <md-list class="settings-container">
                                            <md-list-item class="md-3-line" >
                                                <div class="md-list-item-text">
                                                    <i class="material-icons settings-check-icon">done</i>
                                                    Feature 1
                                                </div>
                                                <md-divider></md-divider>
                                            </md-list-item>
                                            <md-list-item class="md-3-line" >
                                                <div class="md-list-item-text">
                                                    <i class="material-icons settings-check-icon">done</i>
                                                    Feature 2
                                                </div>
                                                <md-divider></md-divider>
                                            </md-list-item>
                                            <md-list-item class="md-3-line" >
                                                <div class="md-list-item-text">
                                                    <i class="material-icons settings-check-icon">done</i>
                                                    Feature 3
                                                </div>
                                                <md-divider></md-divider>
                                            </md-list-item>
                                            <md-list-item class="md-3-line" >
                                                <div class="md-list-item-text">
                                                    <i class="material-icons settings-check-icon">done</i>
                                                    Feature 4
                                                </div>
                                                <md-divider></md-divider>
                                            </md-list-item>
                                            <md-list-item class="md-3-line">
                                                <md-button class="md-raised pricing-button">Purchase</md-button>
                                            </md-list-item>
                                        </md-list>
                                    </md-content>
                                </div>
                            </div>
                        </div>

                        <div flex="33" layout="column" layout-align-lg="" layout-align="center center">
                            <h4 class="settings-left">Your current plan: Free</h4>
                            <md-input-container class="settings-left">
                                <label>Credit Card Number</label>
                                <input>
                            </md-input-container>
                            <div layout="row" class="settings-left">
                                <md-input-container>
                                    <label>Expiration Date</label>
                                    <input>
                                </md-input-container>
                                <md-input-container>
                                    <label>Security Code</label>
                                    <input>
                                </md-input-container>
                            </div>
                            <div>
                                <md-button class="md-raised md-primary">Subscribe to Premium</md-button>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
