<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
</head>
<body>
<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Account">
                <div class="md-padding">
                    <div class="md-padding" ng-cloak>
                        <div>
                            <fieldset class="standard user-fieldset">
                                <legend>User</legend>
                                <div layout="row">
                                    <div layout="column" flex="50">
                                        <div flex="20" class="settings-container">
                                            <md-input-container>
                                                <label>Change email address</label>
                                                <input>
                                            </md-input-container>
                                        </div>
                                        <div flex="20" class="settings-container">
                                            <md-input-container>
                                                <label>Change phone number</label>
                                                <input>
                                            </md-input-container>
                                        </div>
                                        <div flex="50" class="settings-container">
                                            <div layout="row">
                                                <div>
                                                    <img src="images/avatar.png" class="avatar" alt="" />
                                                </div>
                                                <div>
                                                    <md-button class="md-raised settings-button">Upload Image</md-button>
                                                </div>
                                            </div>
                                        </div>
                                        <div flex="10">
                                            <md-button class="md-raised md-primary">Save Changes</md-button>
                                        </div>
                                    </div>
                                    <div layout="column" flex="50">
                                        <div flex="20" class="settings-container">
                                            <md-input-container>
                                                <label>Change password</label>
                                                <input>
                                            </md-input-container>
                                        </div>
                                        <div flex="20" class="settings-container">
                                            <md-input-container>
                                                <label>Confirm password</label>
                                                <input>
                                            </md-input-container>
                                        </div>
                                        <div flex="50">
                                            <md-button class="md-raised">Update Password</md-button>
                                        </div>
                                        <div flex="10">
                                            <md-switch  aria-label="Enable email notifications">
                                                Enable email notifications
                                            </md-switch>
                                            <md-switch  aria-label="Enable SMS notifications">
                                                Enable SMS notifications
                                            </md-switch>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="standard">
                                <legend>Company</legend>
                                <div layout="row">
                                    <div layout="column" flex="50">
                                        <div flex="30" class="settings-container">
                                            <md-input-container>
                                                <label>Change company name</label>
                                                <input>
                                            </md-input-container>
                                        </div>
                                        <div flex="30" class="settings-container">
                                            <md-input-container>
                                                <label>Change email address</label>
                                                <input>
                                            </md-input-container>
                                        </div>
                                        <div flex="30" class="settings-container">
                                            <md-input-container>
                                                <label>Change phone number</label>
                                                <input>
                                            </md-input-container>
                                        </div>
                                        <div flex="10">
                                            <md-button class="md-raised md-primary">Save Changes</md-button>
                                        </div>
                                    </div>

                                    <div layout="column" flex="50">
                                        <h3>Tablet</h3>
                                        <div flex="50">
                                            <div layout="row">
                                                <div>
                                                    <img src="images/thumbnail.png" class="avatar" alt="" />
                                                </div>
                                                <div>
                                                    <md-button class="md-raised settings-button">Upload Icon</md-button>
                                                </div>
                                            </div>
                                        </div>
                                        <div flex="50">
                                            <div layout="row">
                                                <div>
                                                    <img src="images/thumbnail.png" class="avatar" alt="" />
                                                </div>
                                                <div>
                                                    <md-button class="md-raised settings-button">Upload Background</md-button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </md-content>
            </md-tab>

            <md-tab label="Form & Themes">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Form & Themes</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                    <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                </md-content>
            </md-tab>

            <md-tab label="Billing">
                <md-content class="md-padding">
                    <div layout="row">
                        <div flex="66">
                            <div layout="row">
                                <div flex="45">
                                    <table class="pricing-table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <h2 class="pricing-table-header">
                                                        Free
                                                    </h2>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="pricing-table-row">
                                                <td class="pricing-table-feature">
                                                    <i class="material-icons pricing-table-feature-check">done</i>
                                                    <span>Feature 1</span>
                                                </td>
                                            </tr>
                                            <tr class="pricing-table-row">
                                                <td class="pricing-table-feature">
                                                    <i class="material-icons pricing-table-feature-check">done</i>
                                                    <span>Feature 2</span>
                                                </td>
                                            </tr>
                                            <tr class="pricing-table-row">
                                                <td class="pricing-table-feature">
                                                    <i class="material-icons pricing-table-feature-check">done</i>
                                                    <span>Feature 3</span>
                                                </td>
                                            </tr>
                                            <tr class="pricing-table-row">
                                                <td class="pricing-table-feature">
                                                    <div class="pricing-table-button">
                                                        <md-button ng-disabled="true" class="md-primary pricing-table-button">Current Plan</md-button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div flex="45">
                                    <table class="pricing-table pricing-table-premium">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <h2>
                                                        Premium
                                                    </h2>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="pricing-table-row">
                                                <td class="pricing-table-feature">
                                                    <i class="material-icons pricing-table-feature-check">done</i>
                                                    <span>Feature 1</span>
                                                </td>
                                            </tr>
                                            <tr class="pricing-table-row">
                                                <td class="pricing-table-feature">
                                                    <i class="material-icons pricing-table-feature-check">done</i>
                                                    <span>Feature 2</span>
                                                </td>
                                            </tr>
                                            <tr class="pricing-table-row">
                                                <td class="pricing-table-feature">
                                                    <i class="material-icons pricing-table-feature-check">done</i>
                                                    <span>Feature 3</span>
                                                </td>
                                            </tr>
                                            <tr class="pricing-table-row">
                                                <td class="pricing-table-feature">
                                                    <div class="pricing-table-button">
                                                        <md-button class="md-raised">Purchase</md-button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div flex="33">
                            <h4 class="settings-container">Your current plan: Free</h4>
                            <md-input-container class="settings-container">
                                <label>Credit Card Number</label>
                                <input>
                            </md-input-container>
                            <div layout="row" class="settings-container">
                                <md-input-container>
                                    <label>Expiration Date</label>
                                    <input>
                                </md-input-container>
                                <md-input-container>
                                    <label>Security Code</label>
                                    <input>
                                </md-input-container>
                            </div>
                            <div>
                                <md-button class="md-raised md-primary">Subscribe to Premium</md-button>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
    <script src="scripts/controllers/settings.js"></script>
</body>
</html>
