<!--<div class="test">-->
<!--<h1>{{toolbarTitle}}</h1>-->

<!--</div>-->

<!--<div layout="row" layout-align="center center" ng-cloak>-->
<!--<md-toolbar class="md-primary md-hue-2" flex="50" layout-padding>-->
<!--<h2 class="md-toolbar-tools">-->
<!--<span>Start A New Account</span>-->
<!--</h2>-->
<!--</md-toolbar>-->
<!--</div>-->

<div layout="row" layout-align="center center" ng-cloak>
    <md-whiteframe class="md-whiteframe-1dp" flex="50">
        <md-toolbar class="md-primary md-hue-2">
            <div class="md-toolbar-tools" layout-align="">
                <h4>
                    <span>Customize Images for Tablet</span>
                </h4>
            </div>
        </md-toolbar>

        <md-content class="autoScroll" layout-padding>
            <div layout="row" flex="">
                <div flex="15"></div>
                <div flex="50">
                    <img align="middle" src="http://uxrepo.com/static/icon-sets/google-material/svg/android-now-wallpaper.svg" style="width:100px;height:100px;">
                    </img src>
                </div>

                <div flex="">
                    <img align="middle" src="http://lh4.ggpht.com/-4akHuCB4liI/T5BI8__wBWI/AAAAAAAAKw4/p4cQgiMUwoI/elastic%252520x_thumb%25255B3%25255D.png?imgmax=800" style="width:200px;height:100px;">
                    </img src>
                </div>
            </div>

            <div layout="row">
                <div flex="10"></div>
                <p flex="">Current: coolIcon.png</p>
                <div flex="25"></div>
                <p flex="">Current: coolBG.png</p>
            </div>

            <br>

            <div layout="row" layout-align="center center">
                <md-button flex="40" class="md-raised md-primary">Upload Icon</md-button>
                <div flex=""> </div>
                <md-button flex="40" class="md-raised md-primary">Upload Background Image</md-button>
            </div>

            <br><br><br>

            <div layout="row" layout-align="">
                <div layout="column" flex="5" layout-sm="" layout-wrap>
                    <md-button class="md-primary" flex="10" onclick="location.href ='../index.html';" target="_blank">Skip All</md-button>
                    <md-button class="md-primary" onclick="location.href ='../../';" target="_blank">Cancel</md-button>
                </div>
                <div flex="80"> </div>
                <span flex="5"> <md-button class="md-raised md-primary" onclick="location.href ='addemployees.html';">Next</md-button> </span>
            <div>

        </md-content>


    </md-whiteframe>
</div>
