<!--<div class="test">-->
<!--<h1>{{toolbarTitle}}</h1>-->

<!--</div>-->

<!--<div layout="row" layout-align="center center" ng-cloak>-->
<!--<md-toolbar class="md-primary md-hue-2" flex="50" layout-padding>-->
<!--<h2 class="md-toolbar-tools">-->
<!--<span>Start A New Account</span>-->
<!--</h2>-->
<!--</md-toolbar>-->
<!--</div>-->

<div layout="row" layout-align="center center" ng-cloak>
    <md-whiteframe class="md-whiteframe-1dp" flex="50">
        <md-toolbar class="md-primary md-hue-2">
            <div class="md-toolbar-tools" layout-align="">
                <h4>
                    <span>Customize the Visitor Form</span>
                </h4>
            </div>
        </md-toolbar>

        <md-content class="autoScroll" layout-padding>
            <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>Name</label>
                <input ng-model="user.visitorname" type="text">
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>Phone Number</label>
                <input ng-model="user.visitorphone" type="text">
            </md-input-container>

            <md-button class="md-raised md-primary" flex="50">Add Fields</md-button>
            <br><br><br><br><br><br>

            <div layout="row" layout-align="">
                <div layout="column" flex="5" layout-sm="" layout-wrap>
                    <md-button class="md-primary" flex="10" ng-href="{{googleUrl}}" target="_blank">Skip All</md-button>
                    <md-button class="md-primary" ng-href="{{googleUrl}}" target="_blank">Cancel</md-button>
                </div>
                <div flex="80"> </div>
                <span flex="5"> <md-button class="md-raised md-primary">Next</md-button> </span>
            <div>

        </md-content>


    </md-whiteframe>
</div>
